@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<div class="container">
    <div class="heroWrapper">
        @ViewBag.HeroText
    </div>
    <div class="leftMenuWrapper col-sm-3 custom-collapse">
        <button class="btn-brand-white collapse-toggle visible-xs visible-sm " type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-medix">
            <span class=""><span class="glyphicon glyphicon-align-justify"></span></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="leftMenu list-unstyled collapse" id="side-menu-medix">
            <li class="item header">@Html.ActionLink("MEDIX ONLINE", "Index", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Contact Medix Online", "ContactMedixOnline", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Schedules and Fees", "SchedulesAndFees", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("E-Learning", "ELearning", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Advantages", "Advantages", "MedixOnline")</li>
            
            <li class="item side-menu-h2">@Html.ActionLink("Medix Online Programs", "MedixOnlinePrograms", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Dental Terminology", "DentalTerminology", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Anatomy Physiology", "AnatomyPhysiology", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Dental Office Procedures", "DentalOfficeProcedures", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Dental Assisting Level II Upgrade", "DentalAssistingLevelIIUpgrade", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Electronic Medical Records", "ElectronicMedicalRecords", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Medical Billing", "MedicalBilling", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Medical Terminology", "MedicalTerminology", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Medical Transcription", "MedicalTranscription", "MedixOnline")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Principles of Nutrition", "PrinciplesOfNutrition", "MedixOnline")</li>


        </ul>
        <br />
    </div>



    <div class="col-sm-9 pull-right">
        <div class="contentBody">
            <div class="row bodyHeaderWrapper">
                @ViewBag.BodyHeaderText
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });

    $(window).bind("pageshow", function () {
        var forms = $("form");
        forms.each(function (i) {
            forms[i].reset();
        });
    });
</script>