<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.PageDescription" />

    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/0dadfbd7-4931-4174-ae59-acc837e29491.css" />

    <title>@ViewBag.Title - Medix College of Healthcare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function popup(url) {
            params = 'width=' + screen.width;
            params += ', height=' + screen.height;
            params += ', top=0, left=0'
            params += ', fullscreen=yes';

            newwin = window.open(url, 'Medix Store', params);
            if (window.focus) { newwin.focus() }
            return false;
        }
    </script>
</head>
<body>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67051216-1', 'auto');
  ga('send', 'pageview');

    </script>

    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1000579852;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1000579852/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>

    <!-- Google Code for Lead Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1000579852;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "DxkKCMiN4GAQjMaO3QM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1000579852/?label=DxkKCMiN4GAQjMaO3QM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-37878412-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>(function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "5038092" }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5038092&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>


</body>
</html>

<script>
    $(document).ready(function () {
        $('.form-overlay-close').click(function () {
            $('.form-overlay').slideUp(600);
        });

        $('.popup-form-button').on("click", function (e) {
            var form = $(this).parents('form:first');
            if ($(form).parsley().validate()) {
                $.blockUI({ overlayCSS: { backgroundColor: '#0F3F6F' }, message: 'Your Information Has Been Submitted, Please Wait While We Redirect You' });

                setTimeout($.unblockUI, 10000);
            }
        });

        $('#applyNowCampusList, requestCatalogueCampusList, askQuestionCampusList, tourCampusCampusList').change(function () {
            var campusId = $('#applyNowCampusList option:selected').val();

            $.each($("#applyNowProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#requestCatalogueCampusList').change(function () {
            var campusId = $('#requestCatalogueCampusList option:selected').val();

            $.each($("#requestCatalogueProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#askQuestionCampusList').change(function () {
            var campusId = $('#askQuestionCampusList option:selected').val();

            $.each($("#askQuestionProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#tourCampusCampusList').change(function () {
            var campusId = $('#tourCampusCampusList option:selected').val();

            $.each($("#tourCampusProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#applyNowMediaGroupList').change(function () {
            var campusId = $('#applyNowMediaGroupList option:selected').val();

            $.each($("#applyNowMediaList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#requestCatalogueMediaGroupList').change(function () {
            var campusId = $('#requestCatalogueMediaGroupList option:selected').val();

            $.each($("#requestCatalogueMediaList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#tourCampusMediaGroupList').change(function () {
            var campusId = $('#tourCampusMediaGroupList option:selected').val();

            $.each($("#tourCampusMediaList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        (function () {
            var cx = '001285344238673767645:v6k9euiazcu';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".youtube").YouTubeModal({ autoplay: 0, width: 1000, height: 750 });
    });
</script>