@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "All Programs";
    ViewBag.PageDescription = "Learn more about the Programs available at Medix College.";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">ALL PROGRAMS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">All Programs</li>
    </ol>
</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <p class="contentp">
                Medix College provides training in healthcare programs preparing students for ever growing healthcare

                industry in Canada. The objective of the healthcare program training is to equip the students with the

                most current theory and practical training necessary to become successful health care professional. The

                curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material

                versus memorization of the material, and secondly, allowing the students to process information

                through practical experience.

                <br /><br />
                Practical experience is provided to our students through laboratories and

                an opportunity to shadow experienced workers in the field.  Professional healthcare training helps

                Medix students to secure employment in various prestigious health care organizations across Ontario.
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueblueBorder f20"></span> &nbsp;  SEARCH BY PROGRAMS<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="50%" class="contentH3-blue">@Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")</th>
                            <td width="50%">
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Child Youth Addictions Worker", "ChildYouthAddictionsWorker", "Programs")</th>
                            <td>

                                Scarborough
                            </td>
                        </tr>

                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")</th>
                            <td>
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Early Childcare Assistant", "EarlyChildCareAssistant", "Programs")</th>
                            <td>
                                Brampton<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")</th>
                            <td>
                                Brampton<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Massage Therapy Advanced Standing", "MassageTherapyAdvancedStanding", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Medical Lab Technician Assistant ", "MedicalLabTechnicianAssistant", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")</th>
                            <td>
                                Brampton<br />

                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Rehabilitation Physiotherapist Assistant", "RehabilitationPhysiotherapy", "Programs")</th>
                            <td>
                                
                                Scarborough
                               
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-map-marker blueblueBorder f20"></span> &nbsp; SEARCH BY CAMPUS <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>
                    </a>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("BRAMPTON", "Brampton", "Campuses")</th>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("CSW", "CommunityServiceWorker", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("DSW", "DevelopmentalServiceWorker", "Programs")
                            </td>

                        </tr>
                        <tr>
                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Early Childcare Assistant", "EarlyChildCareAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("ECA", "EarlyChildCareAssistant", "Programs")</td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>



                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("SCARBOROUGH", "Scarborough", "Campuses")</th>

                        </tr>


                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("CSW", "CommunityServiceWorker", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("DSW", "DevelopmentalServiceWorker", "Programs")
                            </td>

                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Rehabilitation Physiotherapist Assistant", "RehabilitationPhysiotherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PTA", "RehabilitationPhysiotherapy", "Programs")</td>
                        </tr>

                    </table>

                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("TORONTO", "Toronto", "Campuses")</th>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("CSW", "CommunityServiceWorker", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("DSW", "DevelopmentalServiceWorker", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>




                </div>
            </div>
        </div>
    </div>

    <br />

</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1whitemain text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpgold" />
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">FIRST NAME: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp-light">LAST NAME: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">TELEPHONE: <span class="text-danger">*</span></p>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">EMAIL: <span class="text-danger">*</span></p>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">LOCATION: <span class="text-danger">*</span></p>
                    <select required="" class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                        <option value="">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">PROGRAM: <span class="text-danger">*</span></p>
                    <select required="" class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">

                        <option class="0 246 243 242 244 241 240" value="">Select</option>
                        <option class="0 243 241" value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="632">Community Service Worker</option>
                        <option class="0 246 243 242 244 241 240" value="634">Developmental Service Worker</option>
                        <option class="0 246 243 241 240" value="38526">Early Childcare Assistant</option>
                        <option class="0 246 244 241 240" value="37255">Fitness &amp; Health Promotion</option>
                        <option class="0 246 243 242 244 241 240" value="627">Intra-Oral Dental Assistant </option>
                        <option class="0 246 242 244 241 240" value="629">Massage Therapy</option>
                        <option class="0 246 242 244 241 240" value="41068">Medical Laboratory Technician Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="630">Medical Office Administrator</option>
                        <option class="0 246 243 242 244 241 240" value="631">Personal Support Worker</option>
                        <option class="0 246 243 242 244 241 240" value="628">Pharmacy Assistant</option>
                        <option class="0 246 243 242 244 241 240" value="41071">Physiotherapy Assistant</option>

                        <option class="0 246 243 242 244 241 240" value="">--- Certificate Programs</option>
                        <option class="0" value="38882">Anatomy &amp; Physiology</option>
                        <option class="0 246 243 241 240" value="39478">CPR &amp; First Aid</option>
                        <option class="0 246 243 242 244 241 240" value="818">Dental Level 2</option>
                        <option class="0 246 243 242 244 241 240" value="38883">Dental Office Procedures (abel dent)</option>
                        <option class="0 246 243 242 244 241 240" value="642">ECG</option>
                        <option class="0 246 244 241 240" value="39162">Intramuscular Injection</option>
                        <option class="0" value="1170">Medical Terminology</option>
                        <option class="0" value="38887">Medical Transcription</option>
                        <option class="0 246 243 242 244 241 240" value="39415">Mental Health &amp; Addictions</option>
                        <option class="0" value="1169">OHIP Billing</option>
                        <option class="0 246 243 242 244 241 240" value="636">Phlebotomy</option>
                        <option class="0" value="1167">Principles of Nutrition</option>
                        <option class="0 246 243 242 244 241 240" value="643">PSW Upgrading</option>
                        <option class="0" value="1171">Thought Patterns</option>
                        <option class="0" value="41065">Birth Doula Workshop</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <p class="pull-left contentp-light">QUESTION: </p>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center contentp-light">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Brampton<br /><hr class="hrp">

                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Scarborough<br /><hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Toronto
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS
                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for the Child and Youth Care with Addictions Support Worker Program is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about Medix College.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseOne" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        Students looking to start training in the Child and Youth Care with Addictions Support Worker Program have a number of options to finance their education. By exploring these options,

                        students will be able to gain financial assistance and support as they are training for a career. Some

                        financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                    <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p><br />
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>